<a href="https://colab.research.google.com/github/englissi/midterm24/blob/main/202358013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***ðŸŒ€Midterm 2024: Kyoung-hee, Seo (202358013)***

## Variable Question

In [ ]:
# 'Mary, 1998, Ohio; and John, 1999, Boston.'

a = input ('Name: ')
print(a)



rn = 1998
hometown = "Ohio"

print = input(f"Hello, my name is {name}.")
print = input(f"I was born in {bornin}.")
hometown = input(f"I'm from {hometown}.")

## Index Question

In [24]:
# Dropdown

cardinal_number = "2" #@param = ["1","2","3","4"]

# Add one line of code below
cardinal_number = int(cardinal_number)

# Ordinal expression as a list

words = ["First", "Second", "Third","Fourth"]

print("The ordinal expression:", words[cardinal_number])

TypeError: 'str' object is not callable

## Name Question

In [23]:
# Name question

x = "My name is"
y = "your name"

print("My name is your name".)

SyntaxError: invalid syntax (<ipython-input-23-0c20cb8f3a61>, line 6)

## Dictionary Question

In [ ]:
# grades

student_grades = {"Alice": 90, "Bob": 85, "Charlie": 95}
print("Students Grades:", student_grades)

In [27]:
#return Bob's grade
student_grades['Bob']

85

## Function Question

In [ ]:
# Define a function for multiplication
def multiply(x, y):
    return x / y

# Test the function
result = multiply(5, 7)
print("The result of multiplication is:", result)